.env
.DS_Store
.vscode

node_modules
package-lock.json

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Remix
.states
/contracts/artifacts

# Foundry
/out
out.json
/cache_forge